<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    <link rel="stylesheet" type="text/css" href="style.css">-->
    <!-- load angular -->
    <script type="text/javascript" src="angularScripts/angular.js"></script>
    <script type="text/javascript" src="angularScripts/angular-route.js"></script>
    <script type="text/javascript" src="angularScripts/angular-local-storage.js"></script>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>-->
    <!--    <script type="text/javascript" src="jquery.js"></script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Title</title>
</head>
<body ng-app="myApp">

<!-- load app -->
<script src="app.js"></script>

<!-- load controllers -->
<script src="Controllers/aboutController.js"></script>
<script src="Controllers/defaultHomeController.js"></script>
<script src="Controllers/registerController.js"></script>
<script src="Controllers/appController.js"></script>
<script src="Controllers/userHomePageController.js"></script>
<script src="Controllers/loginController.js"></script>
<script src="Controllers/myPOIController.js"></script>

<!-- load services -->

<script src="Services/userService.js"></script>
<script src="Services/loginService.js"></script>
<script src="Services/registerService.js"></script>
<script src="Services/POIService.js"></script>

<!-- load services -->

<script src="Models/UserModel.js"></script>




<div ng-controller="appController as appCtrl">
    <nav class="navbar navbar-expand-md navbar-light bg-light" style="height: 2%;">
        <!--    <a href="#" class="navbar-brand">Brand</a>-->
        <img src="logo.png" style="height:60px; width:100px" ng-click="appCtrl.homepage()">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a ng-show="appCtrl.isLogin()" href="#!userHomePage" class="nav-item nav-link active">My Home page</a>
                <a href="#!register" class="nav-item nav-link" ng-hide="appCtrl.isLogin()">Register</a>
                <a href="#!" class="nav-item nav-link">About</a>
            </div>
            <div class="navbar-nav">
                <a href="#!login" class="nav-item nav-link float-right" ng-hide="appCtrl.isLogin()">Login</a>
            </div>
            <div class="navbar-nav">
                <label class="nav-item nav-link active" ng-model="appCtrl.user_name">Hello {{appCtrl.user_name}}</label>
                <img class="nav-item nav-link active ml-4" ng-show="appCtrl.isLogin()" src="starFull.png" ng-click="appCtrl.myPOI()">
                <label class="nav-item nav-link active" ng-show="appCtrl.isLogin()" id="counter">0</label>
            </div>

            <label ng-show="appCtrl.isLogin()" ng-click="appCtrl.signOut()">Sign Out</label>
        </div>
    </nav>
    <div class="container-fluid text-center" ng-view>
    </div>
</div>


<!--
<div ng-controller="appController as appCtrl" ng-init="appCtrl.init()">
    <footer class="page-footer font-small lighten-3 pt-4 bg-secondary mt-5">

        <div class="container">

            <div class="row" style="margin-left: 30%">

                <div class="col-lg-2 col-md-12 mb-4">

                    <div class="view overlay z-depth-1-half">
                        <img src={{appCtrl.explore[0].picture}} class="img-thumbnail"
                             alt="" style="width: 100px; height: 100px;">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>

                </div>
                <div class="col-lg-2 col-md-12 mb-4">

                    <div class="view overlay z-depth-1-half">
                        <img src={{appCtrl.explore[1].picture}} class="img-thumbnail"
                             alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>

                </div>

                <div class="col-lg-2 col-md-6 mb-4">

                    <div class="view overlay z-depth-1-half">
                        <img src={{appCtrl.explore[2].picture}} class="img-fluid"
                             alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    &lt;!&ndash; Footer &ndash;&gt;
</div>
-->

</body>
</html>