
.userHomePage{
    padding-top: 3%;

}

.imgDescription {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    margin-left: 19%;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.imgWrap:hover .imgDescription {
    visibility: visible;
    opacity: 1;
}

.imgWrap {
    position: relative;
    height: 200px;
    width: 257px;
}
