<head>
    <link rel="stylesheet" type="text/css" href="Style\registerStyle.css">
</head>

<h2>Registration Form</h2>
<div ng-controller="registerController as registerCtrl" ng-init="registerCtrl.init()">
    <form name="registerForm" role="form" novalidate>
            <div class="left">
                <span>User Name: <br></span>
                <input type="text"
                       name="UserName"
                       ng-model="registerCtrl.user.user_name"
                       class="form-control"
                       placeholder="Your User name"
                       ng-minlength="3"
                       ng-maxlength="8"
                       ng-pattern="/^[A-za-z]+$/"
                       required>
                <span ng-show="registerForm.UserName.$dirty && registerForm.UserName.$error.required"
                      class="help-block">Field required</span>
                <span ng-show="registerForm.UserName.$dirty && (registerForm.UserName.$error.minlength || registerForm.UserName.$error.maxlength)"
                      class="help-block">User name must contain between 3 to 8 characters</span>
                <span ng-show="registerForm.UserName.$dirty && registerForm.UserName.$error.pattern" class="help-block">Must contain letters</span>
                <br>
                <br>
                <span>Password: <br></span>
                <input type="password"
                       ng-required="true"
                       name="Password"
                       ng-model="registerCtrl.user.password"
                       ng-minlength="5"
                       ng-maxlength="10"
                       class="form-control"
                       ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/"
                       required
                       placeholder="Your Password">
                <span ng-show="registerForm.Password.$dirty && registerForm.Password.$error.required"
                      class="help-block">Field required</span>
                <span ng-show="registerForm.Password.$dirty && (registerForm.Password.$error.minlength || registerForm.Password.$error.maxlength)"
                      class="help-block">Password must contain between 5 to 10 characters</span>
                <span ng-show="registerForm.Password.$dirty && registerForm.Password.$error.pattern" class="help-block">Must contain numbers and letters</span>
                <br>
                <br>
                <span>First Name:<br></span>
                <input type="text"
                       ng-required="true"
                       name="FirstName"
                       ng-model="registerCtrl.user.first_name"
                       ng-pattern="/^[a-zA-Z]*$/"
                       required
                       class="form-control"
                       placeholder="Your First Name"
                       ng-change="registerCtrl.message=''">
                <span ng-show="registerForm.FirstName.$dirty && registerForm.FirstName.$error.required"
                      class="help-block">Field required</span>
                <span ng-show="registerForm.FirstName.$dirty && registerForm.FirstName.$error.pattern"
                      class="help-block">Must contain only letters</span>
                <br>
                <br>
                <span>Last Name:<br></span>
                <input type="text"
                       ng-required="true"
                       name="LastName"
                       ng-model="registerCtrl.user.last_name"
                       ng-pattern="/^[a-zA-Z]*$/"
                       required
                       class="form-control"
                       placeholder="Your Last Name">
                <span ng-show="registerForm.LastName.$dirty && registerForm.LastName.$error.required"
                      class="help-block">Field required</span>
                <span ng-show="registerForm.LastName.$dirty && registerForm.LastName.$error.pattern" class="help-block">Must contain only letters</span>
                <span>Country:<br></span>
                <select
                        type="text"
                        class="form-control"
                        name="Country"
                        ng-options="country.Name for country in registerCtrl.countries"
                        ng-model="registerCtrl.user.country"
                        required>
                    <option ng-repeat="country in registerCtrl.countries" value="{{country.Name}}">{{country.Name}}
                    </option>
                </select>
                <span ng-show="registerForm.Country.$dirty && registerForm.Country.$error.required" class="help-block">Field required</span>
            </div>
            <div class="right">
                <span>City:<br></span>
                <input type="text"
                       ng-required="true"
                       name="City"
                       ng-model="registerCtrl.user.city"
                       ng-pattern="/^[a-zA-Z ]*$/"
                       required
                       class="form-control"
                       placeholder="Your City">
                <span ng-show="registerForm.City.$dirty && registerForm.City.$error.required"
                      class="help-block">Field required</span>
                <span ng-show="registerForm.City.$dirty && registerForm.City.$error.pattern" class="help-block">Must contain only letters</span>
                <br>
                <br>
                <span>Email:<br></span>
                <input type="text"
                       ng-required="true"
                       name="Email"
                       ng-model="registerCtrl.user.email"
                       ng-pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/"
                       required
                       class="form-control"
                       placeholder="Your Email">
                <span ng-show="registerForm.Email.$dirty && registerForm.Email.$error.required" class="help-block">Field required</span>
                <span ng-show="registerForm.Email.$dirty && registerForm.Email.$error.pattern" class="help-block">Must contain only letters</span>
                <br>
                <br>
                <span>First Question:<br></span>
                <select type="text"
                        class="form-control"
                        name="FirstQuestion"
                        ng-model="registerCtrl.user.questions[0]"
                        ng-options="ques.question for ques in registerCtrl.questions"
                        required
                        ng-change="registerCtrl.setSecondQuestion()">
                    <option ng-repeat="ques in registerCtrl.questions" value="{{ques.question}}" >{{ques.question}}
                    </option>
                </select>
                <span ng-show="registerForm.FirstQuestion.$dirty && registerForm.FirstQuestion.$error.required"
                      class="help-block">Field required</span>
                <br>
                <br>
                <span>First Answer:<br></span>
                <input type="text"
                       ng-required="true"
                       name="FirstAnswer"
                       ng-model="registerCtrl.user.answers[0]"
                       required
                       class="form-control"
                       placeholder="Your answer">
                <span ng-show="registerForm.FirstAnswer.$dirty && registerForm.FirstAnswer.$error.required"
                      class="help-block">Field required</span>
                <br>
                <br>
                <span>Second Question:<br></span>
                <select type="text"
                        class="form-control"
                        name="SecondQuestion"
                        ng-model="registerCtrl.user.questions[1]"
                        ng-options="ques.question for ques in registerCtrl.secondQuestions"
                        required
                        ng-disabled="registerForm.FirstQuestion.$error.required">
                    <option ng-repeat="ques in registerCtrl.secondQuestions" value="{{ques.question}}">{{ques.question}}
                    </option>
                </select>
                <span ng-show="registerForm.SecondQuestion.$dirty && registerForm.SecondQuestion.$error.required"
                      class="help-block">Field required</span>
                <br>
                <br>
                <span>Second Answer:<br></span>
                <input type="text"
                       ng-required="true"
                       name="SecondAnswer"
                       ng-model="registerCtrl.user.answers[1]"
                       required
                       class="form-control"
                       placeholder="Your answer">
                <span ng-show="registerForm.SecondAnswer.$dirty && registerForm.SecondAnswer.$error.required"
                      class="help-block">Field required</span>
                <br>
            </div>
        <div class="bottom">
            <span>Categories:</span>
            <br>
            <div  ng-repeat="category in registerCtrl.categories">
                <input type="checkbox"
                       name="categories"
                       ng-click="registerCtrl.selected(category.Name)"
                       ng-model="registerCtrl.user_categories[$index].checked"
                       ng-click="registerCtrl.assert()"
                       value="{{category.Name}}">{{category.Name}}
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid"
                    ng-click="registerCtrl.register()">Register
                <br>
            </button>
        </div>

    </form>
    <span>{{registerCtrl.user.questions[0].question}}</span>

</div>

