<link rel="stylesheet" type="text/css" href="Style\loginStyle.css">

<div class="login-form" ng-controller="loginController as loginCtrl">
    <form name="passwordForm" role="form" novalidate>
        <h2 class="text-center">Login</h2>
        <div class="form-group has-error">
            <input type="text" class="form-control" ng-model="loginCtrl.user_name" name="UserName"
                   placeholder="Username" required ng-change="loginCtrl.getQuestion()">
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <div class="form-group">
                    <select class="form-control" name="SecondQuestion"
                            ng-model="loginCtrl.question"
                            ng-options="ques.question for ques in loginCtrl.userQuestions"
                            required
                            ng-disabled="passwordForm.UserName.$error.required">
                        <option ng-repeat="ques in loginCtrl.userQuestions" value="{{ques.question}}">{{ques.question}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group has-error">
            <input type="text" class="form-control" ng-model="loginCtrl.answer" name="answer"
                   placeholder="Answer" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="loginForm.$invalid"
                    ng-click="loginCtrl.getPassword()">Get password
            </button>
        </div>
        <span>{{loginCtrl.message}}</span>
        <p><a href="#!login">Sign in</a></p>
    </form>
</div>
